body {
  padding: 10px;
  font-family: sans-serif;
}

/* TODO: maybe epfl-elements shouldn't do any of this jazz. */
/* Removed this two line as tearing is happening on breadcrumb */
/*body .breadcrumb-container, body .breadcrumb-item {
  position: inherit;
}*/

body .breadcrumb-container::before {
  display: none;
}

/* .dropdown-menu is all wrong position-wise. */
.dropdown-menu-popper {
  min-width: 10rem;
    font-size: 1rem;
    color: #212121;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(33,33,33,.15);
    border-radius: 2px;
}

label.field-required:after {
  content: " *";
  color: red;
}

.table {
  height: auto !important;
  display: revert !important;
  overflow-y: auto !important;
}
