body {
  padding: 10px;
  font-family: sans-serif;
}

.main {
  /* Fix the jumping footer up-down when components are loading
    this size is close to the default size of the nav-aside-wrapper
   */
  min-height: 360px;
}

/* TODO: maybe epfl-elements shouldn't do any of this jazz. */
/* Removed this two line as tearing is happening on breadcrumb */
/*body .breadcrumb-container, body .breadcrumb-item {
  position: inherit;
}*/

body .breadcrumb-container::before {
  display: none;
}

/* remove transparency on buttons */
.btn-secondary {
  background: white !important;
}

/* .dropdown-menu is all wrong position-wise. */
.dropdown-menu-popper {
  min-width: 10rem;
  font-size: 1rem;
  color: #212121;
  text-align: left;
  list-style: none;
  background-color: #fff;
  /background-clip: padding-box;
  border: 1px solid rgba(33,33,33,.15);
  border-radius: 2px;
}


.table {
  height: auto !important;
  display: revert !important;
  overflow-y: auto !important;

}

.table tfoot tr td button {
  margin-bottom: 6px !important;
  margin-top: 6px !important;
}

.formio-component-label-hidden {
  position: relative;
}

.form-group label {
  color: inherit !important;
}

.formio-select-autocomplete-input {
  opacity: 0;
  position: relative;
  z-index: -1;
  display: block;
  height: 0;
  border: none;
}

.formio-component-resource .control-label--hidden.field-required, .formio-component-select .control-label--hidden.field-required {
  right: 40px;
  z-index: 2;
}

.field-required::after {
  position: relative;
  z-index: 10;
}
.field-required::after, .tab-error::after {
  content: " *";
  color: #eb0000;
}

.control-label--hidden {
  position: absolute;
  top: 6px;
  right: 5px;
}

table .btn {
  padding: .375rem .75rem !important;
}

td > .form-group {
  margin-bottom: 0;
}

.form-group .has-error {
  margin-top: 15px;
  color: red;
}

.formio-editor-read-only-content {
  color: #707070;
  white-space: pre-wrap;
}

.invalid-feedback {
  display: block !important;
}

div[id^=error-list].alert-success {
  display: none;
}

.bg-awaiting {
  background-color: #ff9933;
}

.dashboard .dashboard-step {
  height: 3em;
  max-height: 3em;
  min-height: 3em;
}

.dashboard-title {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: white;
}

/* fix the formio input checkbox being invisible because of some strange filter on safari */
.form-check input[type='checkbox'] {
  filter: none;
}
