CONNECT_AS_SCIPER="111111"
CONNECT_AS_NAME="Somebody I used to know"
CONNECT_AS_GROUPS="some-groups"

PARTICIPANT_PROGRAM_ASSISTANT="111111"
PARTICIPANT_DOCTORAL_PROGRAM="SOME"
PARTICIPANT_OFFICE_EMAIL="some@email.to"
PARTICIPANT_DOC_URL="www.my.doc"
PARTICIPANT_PHD_STUDENT="111111"
PARTICIPANT_THESIS_DIRECTOR="111111"
PARTICIPANT_THESIS_CODIRECTOR="111111"
PARTICIPANT_PROGRAM_DIRECTOR="111111"
PARTICIPANT_MENTOR="111111"
PARTICIPANT_CREDITS_NEEDED="42"
